<%- include('header') -%>

<div class="title">
<h1><%= slugEvent[0].name %></h1>
<p><%= slugEvent[0].description %></p>
</div>

<%- include('updateform') -%>

<%- include('logout') -%>

<%- include('footer') -%>
